data
data/*
node_modules/
__pycache__/
backend/src/database/migrations/*
!backend/src/database/migrations/__init__.py
.env
*.pyc
*.pyo
requirements.in
.vscode/
sslcert/
static/
media/
special_alertmanager.yml