#fourofour {
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url('blackhole.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#fourofour.title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
#fourofour.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    /* padding-bottom: 50px; */
    height: calc(100% - 100px);
    text-align: center;
    font: 100px Arial, sans-serif;
}