body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.friend-list {
    background-color: darkgray; /* Slightly transparent background */
	color: black;
    border-radius: 5px;
    padding: 20px;
	height: inherit;
	overflow-y: auto;
}

.profile-details {
	flex-grow: 3 !important;
}

.friend-list-item {
    background-color: #f8f9fa;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
	direction: ltr;
}

.friend-list-item:hover {
    background-color: #e9ecef;
}
