body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.friend-list {
    background-color: darkgray; /* Slightly transparent background */
    border-radius: 5px;
    padding: 20px;
	height: inherit;
	overflow-y: auto;
}

.profile-details {
	flex-grow: 3 !important;
}

.friend-list-item {
    background-color: #f8f9fa;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
	direction: ltr;
}

.friend-list-item:hover {
    background-color: #e9ecef;
}
