.profile-info {
	min-width: 450px;
	width: 450px;
}

.chartArea {
    width: fit-content;
    height: fit-content;
    overflow: visible;
}

.chartBox1 {
    margin-left: -10px;
    flex-grow: 1;
    width: 300px;
    border-radius: 100%;
    background-color: rgba(52, 58, 64, 0.85);
}

.chartBox2 {
    margin-top: -80px;
    margin-left: 240px;
    flex-grow: 1;
    width: 300px;
    border-radius: 100%;
    background-color: rgba(52, 58, 64, 0.85);
}

.chartBox3 {
    margin-top: -80px;
    margin-left: -10px;
    flex-grow: 1;
    width: 300px;
    border-radius: 100%;
    background-color: rgba(52, 58, 64, 0.85);
}

.profile-pic {
	aspect-ratio: 1;
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.match-history {
    background-color: #343a40; /* Dark background color */
    color: #f8f9fa; /* Light text color */
}

.lowered {
    margin-top: 150px;
}

.title {
    margin-top: 30px;
}

.list-group-item {
    background-color: transparent; /* Make list group items transparent to match parent background */
    color: #ecf0f1; /* Light text color */
}

.bottom-left-buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
