.profile {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

.profile-info {
    flex: 1;
    padding: 20px;
}

.profile-pic {
    max-width: 150px;
    max-height: 150px;
}

.match-history {
    flex: 2;
    padding: 20px;
    background-color: #343a40; /* Dark background color */
    color: #f8f9fa; /* Light text color */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.lowered {
    margin-top: 150px;
}

.title {
    margin-top: 30px;
}

.list-group-item {
    background-color: transparent; /* Make list group items transparent to match parent background */
    color: #ecf0f1; /* Light text color */
}

.bottom-left-buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
}