.resultDiv {
	font-size: 2vmin;
}

.resultDiv .profilePic {
	aspect-ratio: 1;
	width: 5em;
	margin: 5px;
	object-fit: cover;
}

.resultDiv .flex-grow-2 {
	flex-grow: 2;
}

.resultDiv .statusDiv {
	padding-top: 5vh;
	font-size: 7em;
}

.resultDiv .scoreDiv {
	font-size: 7em;
}

.resultDiv .usernameDiv {
	margin-right: 5vw;
	font-size: 3em;
}

.resultDiv .resultBtn {
	padding: 2vh 4vw;
	font-size: 1.5em;
}

.resultDiv .redirectMessage {
	font-size: 5em;
}

.resultDiv .watchPrompt {
	font-size: 0.25em;
}

.btn-bot{
	position:absolute; 
	margin-left:-50px;
	left:50%;
	width:100px;
	bottom:50px;
 }