.tournamentProgress .round{
	display:flex;
	flex-direction:column;
	justify-content:center;
	list-style:none;
	padding:0;
}

.tournamentProgress .round {
	flex-grow: 1;
}

.tournamentProgress .round .spacer { 
	flex-grow: 1;
}

.tournamentProgress .round .spacer:first-child,
.tournamentProgress .round .spacer:last-child { 
	flex-grow: .20;
}

.tournamentProgress .round .game-spacer {
	flex-grow: 1;
}

.tournamentProgress li.game {
	padding-left:20px;  
}

.tournamentProgress li.game.winner {
	font-weight:bold;
}

.tournamentProgress li.game span {
	float:right;
	margin-right:5px;
}

.tournamentProgress li.game-top {
	border-bottom:1px solid #aaa;
}

.tournamentProgress li.game-spacer { 
	border-right:1px solid #aaa;
	min-height:40px;
}

.tournamentProgress li.game-bottom { 
	border-top:1px solid #aaa;
}

.player-list {
	background-color: darkgray;
	padding: 20px;
	overflow-y: auto;
	min-width: 20vw;
	max-width: 350px;
	width: 20vw;
}

.player-list .friend-list-item.ready {
	background-color: rgb(120, 255, 94);
}

.player-list .friend-list-item:hover {
	cursor: default;
}

.tournamentPlayerDiv {
}

.tournamentPlayerDiv .pfp-pic {
	width: 35px;
	height: 35px;
}

.tournamentPlayerDiv .username-div {
	
}