.round{
	display:flex;
	flex-direction:column;
	justify-content:center;
	/* width:200px; */
	list-style:none;
	padding:0;
}

.round {
	flex-grow: 1;
}

.round .spacer{ flex-grow:1; }

.round .spacer:first-child,

.round .spacer:last-child{ flex-grow:.5; }

.round .game-spacer{
	flex-grow:1;
}

li.game{
	padding-left:20px;  
}

li.game.winner{
	font-weight:bold;
}
li.game span{
	float:right;
	margin-right:5px;
}

li.game-top{ border-bottom:1px solid #aaa; }

li.game-spacer{ 
	border-right:1px solid #aaa;
	min-height:40px;
}

li.game-bottom{ 
	border-top:1px solid #aaa;
}

.player-list {
	background-color: darkgray;
	padding: 20px;
	overflow-y: auto;
}

.player-list-item {
	color: black;
	background-color: #f8f9fa;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 10px;
}

.col-md-9 {
	float: left; 
}

.playerList {
	min-width: 20vw;
	max-width: 20vw;
	width: 20vw;
}