.tournament-list {
	background-color: darkgray;
	border-radius: 5px;
	padding: 20px;
	/* height: calc(100vh - 60px); */
	overflow-y: auto;
}

.tournament-list-item {
	background-color: #f8f9fa;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 10px;
}

.top-right-button-tl {
	position: relative;
	top: 0;
	right: 0;
	padding: 20px;
}