.tournamentContents .tournamentProgress .round{
	display:flex;
	flex-direction:column;
	justify-content:center;
	list-style:none;
	padding:0;
}

.tournamentContents .tournamentProgress .round {
	flex-grow: 1;
}

.tournamentContents .tournamentProgress .round .spacer { 
	flex-grow: 1;
}

.tournamentContents .tournamentProgress .round .spacer:first-child,
.tournamentContents .tournamentProgress .round .spacer:last-child { 
	flex-grow: .5;
}

.tournamentContents .tournamentProgress .round .game-spacer {
	flex-grow: 1;
}

.tournamentContents .tournamentProgress li.game {
	padding-left:20px;  
}

.tournamentContents .tournamentProgress li.game.winner {
	font-weight:bold;
}

.tournamentContents .tournamentProgress li.game span {
	float:right;
	margin-right:5px;
}

.tournamentContents .tournamentProgress li.game-top {
	border-bottom:1px solid #aaa;
}

.tournamentContents .tournamentProgress li.game-spacer { 
	border-right:1px solid #aaa;
	min-height:40px;
}

.tournamentContents .tournamentProgress li.game-bottom { 
	border-top:1px solid #aaa;
}

.tournamentContents .player-list {
	background-color: darkgray;
	padding: 20px;
	overflow-y: auto;
	min-width: 20vw;
	max-width: 350px;
	width: 20vw;
}

.tournamentContents .player-list .player-list-item {
	color: black;
	background-color: #f8f9fa;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 10px;
}
